* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

#navbar {
    background-color: #3c57a4;
    list-style: none;
    padding: 0;
}

#navbar li {
    display: inline;
}

#navbar li a {
    color: write;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    display: inline;
}